@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="contentDiv">
    <div id="cartDiv">
        <div id="addActionsDiv">
            <input class="input" type="text" id="nameInput" placeholder="Name">
            <div>
                <label for="category">Category:</label>
                @Html.DropDownList("Category", Model.Categories as SelectList, new { @id = "categoryInput", @class = "input" })
            </div>

            <div id="checkboxDiv">
                Imported: <input class="input" type="checkbox" id="importedInput">
            </div>
            <input class="input" type="text" id="priceInput" placeholder="Price">
            <input class="input" type="text" id="quantityInput" placeholder="Quantity">
        </div>
        <div id="actionButtonsDiv">
            <button id="addButton" class="button">Add to Cart</button>
            <button id="submitButton" class="button">Complete Purchase</button>
        </div>
        <table id="itemTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Imported</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td class="itemName">@item.Name</td>
                        <td class="itemCategory">@item.Category</td>
                        <td class="itemImported">@(item.IsImported ? "Yes" : "No")</td>
                        <td class="itemPrice">@item.Price</td>
                        <td class="itemQuantity">@item.Quantity</td>
                        <td><button class="button deleteButton">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="receiptDiv">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#priceInput').on('input', function () {
            // Get the entered value
            var value = $(this).val();

            // Remove any non-digit characters except the decimal point
            value = value.replace(/[^0-9.]/g, '');

            // Split the value by the decimal point
            var parts = value.split('.');

            // Limit the number of decimal places to 2
            if (parts.length > 2) {
                // Remove any extra decimal points
                parts.pop();
            } else if (parts.length === 2) {
                // Limit the length of decimal places to 2
                parts[1] = parts[1].slice(0, 2);
            }

            // Join the parts back together
            value = parts.join('.');

            // Update the input value
            $(this).val(value);
        });

        $('#addButton').click(function () {
            // Get the values from the input fields
            var name = $('#nameInput').val();
            var category = $('#categoryInput option:selected').text();
            var isImported = $('#importedInput').is(':checked');
            var price = $('#priceInput').val();
            var quantity = $('#quantityInput').val(); // Get the selected value

            // Create a new row with the input values
            var newRow = '<tr>' +
                '<td>' + name + '</td>' +
                '<td>' + category + '</td>' +
                '<td>' + (isImported ? "Yes" : "No") + '</td>' +
                '<td>' + price + '</td>' +
                '<td>' + quantity + '</td>' +
                '<td><button class="button deleteButton">Delete</button></td>' +
                '</tr>';

            // Append the new row to the table body
            $('#itemTable tbody').append(newRow);

            // Clear the input fields
            $('#nameInput').val('');
            $('#categoryInput').val('0');
            $('#importedInput').prop('checked', false);
            $('#priceInput').val('');
            $('#quantityInput').val('');
        });

        $(document).on('click', '.deleteButton', function () {
            $(this).closest('tr').remove();
        });

        $('#submitButton').click(function () {
            var tableData = [];

            // Iterate over each table row
            $('#itemTable tbody tr').each(function () {
                var rowData = {
                    name: $(this).find('.itemName').text(),
                    category: $(this).find('.itemCategory').val(),
                    isImported: $(this).find('.itemImported').prop('checked'),
                    price: $(this).find('.itemPrice').val(),
                    quantity: $(this).find('.itemQuantity').val()
                };

                tableData.push(rowData);
            });

            console.log(tableData);

            // Send the data to the backend
            $.ajax({
                url: '/HomeController/GetReceipt',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ tableData: tableData }),
                success: function (response) {
                    // Handle the response from the backend
                },
                error: function (xhr, status, error) {
                    // Handle any errors
                }
            });
        });
    });
</script>
